/*
 DEFAULT STYLES
*/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	background: #f0f0f0;
	overflow: hidden;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.wrapper {
	overflow: hidden;
	height: 100%;
	background: #f0f0f0;;
}

.width-100 {
	width: 100%
}
 
/* =============================== */

/*
	HEADER 
*/ 
header {
	background: #ffffff;
	width: 100%;
	min-height: 64px;
	padding: 0 3%;
	position: relative;
	z-index: 999999;
}

h1 {
	background: url(../images/logo.jpg) 0 50% no-repeat;
	background-size: 100%;
	width: 100px;
	height: 64px;
	float: left;
}

/* NAV MENU */
nav {
	float: right;
	width: 50%;
}

nav .menu {
	padding: 0;
	margin: 0;
	overflow: hidden;
	float: right;
}

nav .menu li {
	float: left;
	list-style: none;
	border-right: 1px solid #cdcdcd;
	height: 64px;
}

nav .menu li:last-child {
	border-right: none;
}

nav .menu li a {
	text-decoration: none;
	display: block;
	text-align: center;
	position: relative;
	width: 30px;
	height: 30px;
	box-sizing: content-box;
	padding: 17px 20px;
}

nav .menu li:first-child a:before {
	content:'';
	display:block;
	position: absolute;
	width:30px;
	height: 30px;
	background: url(../images/icon-c.png) 0 0 no-repeat;
	background-size: 100%;
}

nav .menu li:first-child a:hover:before {
	background: url(../images/icon-loading-active.png) 0 0 no-repeat;
	background-size: 100%;
}

nav .menu li.nav-menu a:before {
	content:'';
	display:block;
	position: absolute;
	width:30px;
	height: 30px;
	background: url(../images/icon-menu.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-menu a:hover:before {
	background: url(../images/icon-menu-active.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-info a:before {
	content:'';
	display:block;
	position: absolute;
	width:30px;
	height: 30px;
	background: url(../images/icon-i.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-info a:hover:before {
	background: url(../images/icon-i-active.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-favorite a:before {
	content:'';
	display:block;
	position: absolute;
	width:30px;
	height: 30px;
	background: url(../images/icon-s.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-favorite a:hover:before {
	background: url(../images/icon-s-active.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li .nav-message a {
	position: relative;
}

nav .menu .nav-message a  .mess-counter {
	position: absolute;
	border: 2px solid #fff;
	top: 0;
	right: 0;
	width: 22px;
	height: 22px;
	background: #f7ad10;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	top: 13px;
	right: 13px;
	line-height: 22px;
	color: #fff;
	font-size: 13px;
}

nav .menu li.nav-message a:before {
	content:'';
	display:block;
	position: absolute;
	width:30px;
	height: 30px;
	background: url(../images/icon-m.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-message a:hover:before {
	background: url(../images/icon-m-active.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-account {
	position: relative;
	padding-right: 10px;
}

nav .menu li.nav-account a:before {
	content:'';
	display:block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: url(../images/icon-user.png) 50% 50% no-repeat;
	background-size: 100%;
	left: 20px;
}

nav .menu li.nav-account a:hover:before {
	background: url(../images/icon-user-active.png) 50% 50% no-repeat;
	background-size: 100%;
}

nav .menu li.nav-account:after {
	content: '';
	display: block;
	width: 35px;
	height: 100%;
	position: absolute;
	right: -17px;
	top: 0;
	background: url(../images/icon-arrow-sprite.png) 100% 50% no-repeat;
	background-size: 100%
}

nav .menu li.nav-account a {
	text-align: left;
	padding-left: 60px;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	line-height: 120%;
	color: #bbbbbb;
	position: relative;
	z-index: 9;
}

nav .menu li.nav-account a:hover {
	color: #f5ac19;
}

nav .menu li.nav-account:hover:after {
	background: url(../images/icon-arrow-sprite-active.png) 100% 50% no-repeat;
	background-size: 100%
}

/* END OF NAV MENU */
/* =============================== */

/*
	ASIDE
*/
aside {
	width: 20%;
	background: #063c5f;
	color: #fff;
	height: 100%;
	position: absolute;
	overflow: visible;
	padding-bottom: 350px;
	/* overflow-y: scroll; */
}

aside ul {
	margin: 0;
	padding: 0;
}

aside .aside-menu {
	padding: 10%;
}

aside .aside-menu li {
	list-style: none;
	border-bottom: 1px solid #53778f
}

aside .aside-menu li .link {
	font-weight: 300;
	font-size: 17px;
	color: #ffffff;
	text-decoration: none;
	line-height: 190%;
	display: block;
	cursor: pointer;
}

aside .aside-menu li a {
	font-weight: 300;
	font-size: 17px;
	color: #ffffff;
	text-decoration: none;
	line-height: 190%;
	display: block;
}

aside .aside-menu li a:hover, aside .aside-menu li .link:hover {
	font-weight: 400;
}

aside .aside-menu .aside-menu__inner {
	padding-bottom: 8px;
}

aside .aside-menu .aside-menu__inner li {
	border-bottom: 0;
}

aside .aside-menu .aside-menu__inner li a {
	color: #f0f0f0;
	font-size: 15px;
}

aside .aside-menu .aside-menu__inner .aside-menu__inner-invested {
	padding-left: 15px;
	margin: 7px 0;
}

aside .aside-menu .aside-menu__inner .aside-menu__inner-invested li {
	border-left: 3px solid #f6ac0e;
	padding-left: 10px;
}

aside .aside-menu .aside-menu__inner .aside-menu__inner-invested li a {
	line-height: 13px;
	padding-bottom: 14px;
}

aside .aside-menu .aside-menu__inner .aside-menu__inner-invested li:last-child a {
	padding-bottom: 0;
}

aside .aside-menu .aside-menu__inner .aside-menu__inner-invested li a:hover {
	color: #f6ac0e;
}

.turn-aside {
	display: block;
	background: url(../images/icon-turn_aside.png) 100% 50% no-repeat, #f0f0f0;
	background-size: 4%;
	height: 38px;
	width: 100%;
	position: relative;
	z-index: 999999;
}

/* BOTTOM LIST */

.aside-menu__liners {
	padding: 0 !important;
}

.aside-menu__liners .icon-point {
	padding: 7% 10%;
	line-height: 130%;
	position: relative;
}

.aside-menu__liners .icon-point:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 9%;
	top: 50%;
	margin-top: -10px;
	background: url(../images/icon-arrow-sprite-white.png) 0 50% no-repeat;
	background-size: 196%;
}

.aside-menu__liners .link:hover {
	color: #f5ac19
}

.aside-menu__liners .icon-point:hover:before {
	background: url(../images/icon-arrow-sprite-active.png) 0 50% no-repeat;
	background-size: 196%;
}

.aside-menu__liners .aside-menu__inner {
	padding-bottom: 13px !important;
}

.aside-menu__liners .aside-menu__inner li a {
	line-height: 130%;
	padding: 0 10%;
	padding-bottom: 13px;
}

.aside-menu__liners .aside-menu__inner li:first-child a:after {
	content: '';
	display: block;
	width: 20px;
	height: 1px;
	background: #53778f;
	margin-top: 13px;
}

.aside-menu__liners .aside-menu__inner li:last-child .link {
	padding-top: 8px;
	line-height: 130%;
	padding: 0 10%;
	padding-bottom: 13px;
	color: #f5ac19;
	font-size: 15px;
}

.aside-menu__liners .aside-menu__inner li:last-child .link:active {
	color: #faae4f;
}

.aside-menu__liners .aside-menu__inner li:last-child .link:hover {
	color: #bbbbbb;
}

.aside-menu__liners .aside-menu__inner li:last-child a:after {
	height: 0;
}

.aside-menu__liners .quicklinks:after {
	content: '';
	display: block;
	width: 23px;
	height: 23px;
	background: url(../images/qicklinks.png) 0 50% no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 12px;
}

.aside-menu__liners a:hover, .aside-menu__liners .aside-menu__inner li a:hover {
	color: #f5ac19
}

.aside-menu__liners .quicklinks:hover:after {
	background: url(../images/qicklinks-active.png) 0 50% no-repeat;
	background-size: 100%;
}

.aside-menu__liners .doings:after {
	content: '';
	display: block;
	width: 21px;
	height: 21px;
	background: url(../images/icon-doings.png) 0 50% no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 12px;
}

.aside-menu__liners .doings:hover:after {
	background: url(../images/icon-doings-active.png) 0 50% no-repeat;
	background-size: 100%;
}

.aside-menu__liners .loading-progress:after {
	content: '';
	display: block;
	width: 21px;
	height: 21px;
	background: url(../images/icon-loading.png) 0 50% no-repeat;
	background-size: 100%;
	float: left;
	margin-right: 12px;
}

.aside-menu__liners .loading-progress:hover:after {
	background: url(../images/icon-loading-active.png) 0 50% no-repeat;
	background-size: 100%;
}

.aside-menu__liners li:last-child {
	border: none;
}

.aside-menu__liners .aside-progress-bar {
	overflow: hidden;
}

.aside-menu__liners .aside-progress-bar__container {
	padding: 0 10%;
	overflow: hidden;
}

.aside-menu__liners .aside-progress-bar__container li {
	margin-bottom: 25px;
	overflow: hidden;
	border: none;
}

.aside-menu__liners .aside-progress-bar__container li p {
	font-weight: 300;
	float: left;
}

.aside-menu__liners .aside-progress-bar__container .band {
	height: 6px;
	width: 100%;
	float: left;
	width: 80%;
	margin-top: 2px;
	background: #fff
}

.aside-menu__liners .aside-progress-bar__container .band .width-40 {
	width: 40% !important;
}

.aside-menu__liners .aside-progress-bar__container .band .load {
	width: 90%;
	background: #feb012;
	height: 100%;
}

.aside-menu__liners .aside-progress-bar__container span {
	display: block;
	float: right;
	width: 20%;
	text-align: center;
	margin-top: -3px;
}

/* =============================== */

/*
	MAIN CONTAINER
*/
.main-container {
	padding: 2.5% 3% 4% 3%;
	float: left;
	width: 80%;
	margin-left: 20%;

	height: 100%;
	overflow: hidden;
}

.main-container .title {
	font-weight: 300;
	font-size: 40px;
	line-height: 120%;
	color: #333333;
	margin-left: -4px;
	position: relative;
	display: inline;
}

.main-container .title .favorite {
	background-size: cover !important;
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.main-container .title .n-favorite {
	background: url(../images/no-favorite.png) 0 0 no-repeat;
}

.main-container .title .y-favorite {
	background: url(../images/y-favorite.png) 0 0 no-repeat;
}

.main-container h2 + p {
	font-weight: 300;
	font-size: 1em;
	color: #787878;
	margin-bottom: 3%;
}

/* CONTENT */ 
.content {
	overflow: hidden;
	background: #ffffff;
	width: 100%;
	padding: 30px;
	height: 100%;
	position: relative;

	height: 80%;
}

.content .form-search {
	float: right;
	margin-bottom: 15px;
}

.content .main-search {
	width: 40%;
}

.content .main-search input {
	float: right;
}

.content .main-search input[type="text"] {
	width: 50%;
}

.content .form-search input[type="text"] {
	border: 1px solid #bababa;
	padding: 0 2em 0 1em;
	line-height: 190%;
	font-size: 14px;
	margin-right: 8px;
}

.content .form-search .search:focus {
	border: 1px solid #f5ac19;
	outline: none
}
.content .form-search .search {
	background: url(../images/icon-search-sprite.png) 97% -50% no-repeat;
	background-size: 20px;
}

.content .form-search input {
	height: 2.5em;
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
}

.content .form-search .btn {
	background: #063c5f;
	color: #ffffff;
	border: 0;
	padding: 0 1em;
	cursor: pointer;
	outline: none;
}

.btn-container {
	background: #fff;
	width: 100%;
	overflow: hidden;
	height: 40px;
	position: absolute;
	left: 0;
	bottom: 4%
}

.btn-box {
	float: left;
	position: absolute;
	left: 30px;
	bottom: 4%;
}

.btn-box .btn {
	line-height: 179%;
	background: #063c5f;
	color: #ffffff;
	border: 0;
	padding: 0 1em;
	font-size: 14px;
	cursor: pointer;
	height: 2.5em;
	font-family: 'Fira Sans', sans-serif;
}

.btn-box .btn-add {
	background: url(../images/icon-add.png) 91% 50% no-repeat, #063c5f;
	background-size: 11%;
	padding-right: 35px;
}

.btn-box .js-example-basic-single .select2-input {
	display: none;
}

.pagination {
	float: right;
	margin-top: 1px;
	position: absolute;
	bottom: 4%;
	right: 130px;
	margin-right: 15px;
}

.pagination a {
	text-decoration: none;
	color: #bbb;
}

.pagination .pagination-prev {
	padding-left: 16px;
	background: url(../images/icon-prev.png) 0 0 no-repeat;
	background-size: 16%;
}

.pagination .pagination-next {
	padding-right: 16px;
	background: url(../images/icon-next.png) 100% 0 no-repeat;
	background-size: 15%;
}

.pagination input {
	height: 2.5em;
	width: 40px;
	text-align: right;
	padding: 0 6px;
	font-size: 14px;
	font-weight: 400;
}

.page-block {
	float: right;
	position: absolute;
	bottom: 4%;
	right: 30px;
}

.page-block .select2-container .select2-choice {
	color: #000;
}
.table-container {
	overflow: hidden !important;
	background: #ffffff;
	width: 100%;
	height: 100%;
	position: absolute;

	left: 0;
	padding: 0 30px;
	margin-top: 45px;
	height: 76%;

}
.content table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	margin: 15px 0;
	height: 100%;

	margin: 0;
}

.content table tr:first-child {
	border: 1px solid #f0f0f0 !important;
	border-right: 0;
}

.content table tr {
	border-top: 1px solid #dddddd;
}

.content table tr:hover + tr, .content table tr:hover{
	border-top: 1px solid transparent;
}
/*
.content table tr:first-child + tr, .content table tr:first-child {
	border-top: 1px solid transparent;
}
*/
.content table th {
	line-height: 3em;
	background: #f0f0f0;
	text-transform: uppercase;
	font-size: 1em;
	color: #333333
}

.content table tr:hover {
	background: #fdf4e3;
}

.content table td {
	font-size: 15px;
	color: #bbbbbb;
	line-height: 120%;
	height: 45px;
	position: relative;
}

.content table th, .content table td {
	padding: 0 40px;
}

.content .icon-address {
	position: relative;
}

.content .icon-address a {
	background: url(../images/icon-address-active.png) 100% 50% no-repeat, #f0f0f0;
	background-size: 100%;
	width: 15px;
	position: absolute;
	right: 0;
	display: inline-block;
	height: 100%;
	top: 0;
}

.content table td a {
	text-decoration: none;
	display: inline-block;
	width: 33.333333333333336%;
	height: 20px;
	float: left;
}

.content table td a img {
	width: 20px;
}

.content table input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
.content table input[type="checkbox"] + label {
    background: url(../images/checkbox.png) 0 -21px no-repeat;
    padding-left: 20px;
    background-size: 100%;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -10px;
}
.content table input[type="checkbox"]:checked + label {
    background-position: 0 0;
}



/* END OF CONTENT */


/* =============================== */